<hr>
<div id="footer">
    <div id="topics">
        <h2><a href="https://www.linkedin.com/in/nowicki-krzysztof-jan/" target="_blank">LinkedIn</a></h2>
        <h2><a href="https://github.com/kjnowicki" target="_blank">GitHub</a></h2>
        <h2><a href="https://twitter.com/ProKrzy" target="_blank">Twitter</a></h2>
        <h2><a href="https://www.youtube.com/channel/UC1l8BKKKTK7Wp1JoFc7kGqQ" target="_blank">YouTube</a></h2>
    </div>
    <hr>
    <div id="author">
        <span>Created by Krzysztof Nowicki to advertise himself, or something.</span> <span>Last updated: March 2022.</span>
    </div>
</div>