<hr>
<div id="footer">
    <div id="topics">
        #<h2>Automated Testing</h2>
        #<h2>Data Analysis</h2>
        #<h2>Video and photo editing</h2>
        #<h2>Game Development</h2>
        #<h2>Philosophy</h2>
        #<h2>Programming</h2>
        #<h2>Management</h2>
    </div>
    <h3>Website with zero dependencies. Clear HTML, CSS, JS, PHP. <span>Created by Krzysztof Nowicki. Last updated: Sep 2021.</span></h3>
</div>

<style>
    global-footer {
        color:lightblue;
        font-size: 1.5vh;
        text-align: center;
        position: absolute;
        bottom: 0;
        min-width: 100%;
    }
    global-footer #footer h2 {
        user-select: none;
        cursor: pointer;
        display: inline;
    }
    global-footer #footer h2:nth-child(odd) {
        color: lightcoral
    }
    global-footer #footer h2:nth-child(even) {
        color: lightyellow
    }
    global-footer #footer h3 span {
        font-style: italic;
        font-weight: lighter;
    }
</style>