nav-card > * {
    margin-left: 15px;
}

nav-card p {
    color: white;
    font-weight: bold;
}

nav-card span {
    display: inline-block;
    font-size: smaller;
    color: lightblue;
}

nav-card a {
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

nav-card a:visited {
    color:inherit;
}